<table id='externa'class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Loja</th>
        <th scope="col">Produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Contato</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{Loja}}</td>
        <td>{{Produto}}</td>
        <td>{{Preco}}</td>
        <td>{{Contato}}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{Loja}}</td>
        <td>{{Produto}}</td>
        <td>{{Preco}}</td>
        <td>{{Contato}}</td>
      </tr>
     
      <tr>
        <th scope="row">1</th>
        <td>{{Loja}}</td>
        <td>{{Produto}}</td>
        <td>{{Preco}}</td>
        <td>{{Contato}}</td>
      </tr>
     
     
    
    </tbody>
  </table>